.final{ display: flex;
    justify-content: end;
   align-items: end; 

}
.w-90{
    width: 95%;
}
.h{
    height: 25px;
}
.he{
    background-color: rgba(238, 82, 82, 0.777);
    height: 50px;
}
p{
    margin: 4px;
    align-items: center;
}

.container{
    font-size: large;    
    font-weight: bold;
    font-family:monospace;
}
 
input{
    border-radius: 3px;
   
}
span{
    color: grey;
}

.p{
    margin-top: 40px;
}

.alerta{
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}